body {
    background-color: #333333;
    color: #ffffff;
    font-family: Arial, sans-serif;
  }

  
  .selection {
    padding: 9px 0 9.7px 0;
    font-size: 16px;
    background-color: #222222;
    color: #ffffff;
    margin-right: 10px;
    border: none;
    border-radius: 0 10px 10px 0 ;
  }

  .selection option {
    background-color: #222222;
    color: #ffffff;
  }


  label {
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 15px;
  }

  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #222222;
    color: #ffffff;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 10px 0 0 10px;
  }

  .btnAddTask {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #222222;
    color: #3366cc;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
  }

  .btnAddTask:hover {
    color: #0e4ba6;
  }
  .btnReset{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #222222;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 5px;
    font-weight: bold;
  }
  .btnReset:hover{
   
    color: rgb(255, 255, 255);
  }

  
  button {
    background-color: darkgreen;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
  }

  .lists {
    list-style-type: none;
    padding: 0;
  }

  .list_item {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #222222;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .list_item span {
    margin-left: auto;
  }

  .btnDelete {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #222222;
    color: #ff0000;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    
  }
  .btnEdit {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #222222;
    color: #3366cc;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    font-weight: bold;
    
  }

  .btnDelete:hover {
    color: #cc0000;
  }
  .btnEdit:hover {
    color: #0e4ba6;
  }